*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html,
#root {
  margin: 0;
  background: #3b4664;
  height: 100%;
}

p {
  margin: 0;
}

main {
  display: flex;
  height: 100%;
  align-items: center;
}

.calculator-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(4rem, auto) repeat(4, 4rem);
  background: #252d44;
  border-radius: 10px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgb(239, 239, 239);
  border-radius: 10px;
  box-shadow: 0px 4px #888888;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.calc-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: calc(24rem + 100px);
}

.output {
  background-color: #181f32;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 10px;
  height: 110px;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
